{% extends 'base.html' %} {%block title%}Войти{%endblock%}
{%block nav_links%} {%for cat in cats%}
<p class="block__item">
    <a href='/category/{{cat.id}}' class="block__link main-text">{{cat.title}}</a>
</p>
{%endfor%} {%endblock nav_links%}
{% block content %}
    <h1 style="font-size: 35px; margin-bottom: 10px; color:rgb(83, 13, 24);">Авторизация</h1>
    <form action="." method="post" class="form-call">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" class="little-button-cart subtitle">Войти</button>
    </form>
    <a href="/register/" style="color: white;">Зарегистрироваться</a>
{% endblock %}