{% extends 'base.html' %} {%block title%}Корзина{%endblock%}
{%block nav_links%} {%for cat in cats%}
<p class="block__item">
    <a href='/category/{{cat.id}}' class="block__link main-text">{{cat.title}}</a>
</p>
{%endfor%} {%endblock nav_links%}
{% block content %}
<h1 style="margin-bottom: 15px;">Корзина</h1>
{% if products_in_basket %}
{%for product in products_in_basket%}
<div style="display: flex; justify-content: center; align-items: center; min-height: 100px; flex-direction: column;">
    <h2 style="margin-bottom: 7px;"><a href="/products/{{product.id}}" style="color: rgb(12, 6, 63); font-size: 33px;">{{product.title}}</a></h2>
    <p>{{product.description}}</p>
    <p>Стоймость: {{product.price}} &#8381;</p>
    <p>Номер модели:{{product.article}}</p>
    <img width="400px"  src="/media/{{product.image}}" alt="{{product.title}}">
    <div style="display: flex; flex-direction: row; min-width: 150px; justify-content:space-evenly">
    <form action="/basket/remove-item/{{product.id}}" method="POST">{%csrf_token%}<button type="submit" class="little-button-cart subtitle">Удалить</button></form>
</div>
</div>
{%endfor%}
<p style="margin-top:30px;">Итоговая сумма: {{total_cost}} &#8381;</p>
{% if user.is_authenticated %}
<form action="." method="post">{% csrf_token %}<button type="submit" style="margin-bottom: 15px;" class="little-button-cart subtitle">Заказать</button></form>
{%endif%}
{%else%}
<div>Перейдите в каталог</div>
{%endif%}
{% endblock %}