{% extends 'base.html' %} {%block title%}Помощь{%endblock%}
{%block nav_links%} {%for cat in cats%}
<p class="block__item">
    <a href='/category/{{cat.id}}' class="block__link main-text">{{cat.title}}</a>
</p>
{%endfor%} {%endblock nav_links%}
{% block content %}
    <div class="basket-main">
        <p style="padding-top: 10px; font-size: 24px; color: rgb(29, 0, 91);">Форма</p>
        <form action="." method="post" class="form-call">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit" class="little-button-cart subtitle">Отправить</button>
        </form>
    </div>
{% endblock %}