{% extends 'base.html' %} {%block title%}Главная{%endblock%}
{%block nav_links%} {%for cat in cats%}
<p class="block__item">
    <a href='/category/{{cat.id}}' class="block__link main-text">{{cat.title}}</a>
</p>
{%endfor%} {%endblock nav_links%}

<!-- НОВИНКИ -->
{% block content%}
<article class="news">
    <h2 class="visually-hidden">Популярный сегмент</h2>
    <div class="content wrapper">
        <h2 class="news__title">Популярный сегмент</h2>
        <div class="items">
            {%for item in items%}
            <div class="items__item">
                <img
                    src="/media/{{item.image}}"
                    alt="Фото товара"
                    class="items__photo"
                    style="border-radius: 15px;"
                />
                <div class="items__content">
                    <p class="items__title buttons-text">{{item.title}}</p>
                    <div class="items__stars">
                        {% for index in item.get_total_rating %}
                            <img src='/static/svg/star.svg' " alt='' />
                        {%endfor%}
                    </div>
                    <div class="items__cost">
                        <p class="buttons-text">{{item.price}}&#8381;</p>
                    </div>
                    <div class="items__buttons">
                        <form action="/basket/add/{{item.id}}" method="POST">
                            {%csrf_token%}
                            <button class="little-button-cart subtitle">
                                В корзину
                            </button>
                        </form>
                        <a href="/products/{{item.id}}" class="little-button-more subtitle">
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</article>

<!-- КАТЕГОРИИ -->

<article class="categories" id='categories'>
    <div class="categories__content wrapper">
        <!-- {%for cat in more_cats%} -->
        <a
            href="/category/{{cat.id}}"
            class="categories__category"
            style="background-image: url('/media/{{cat.image}}'); border-radius: 30px;"
            ><div class="acva">
                <!-- <h2 style="font-size: 45px; color: black;">{{cat.title}}</h2> -->
            </div></a
        >
        <!-- {%endfor%} -->
    </div>
</article>


{% endblock %}
