{% extends 'base.html' %} {%block title%}Заказ №{{order.id}}{%endblock%}
{%block nav_links%} {%for cat in cats%}
<p class="block__item">
    <a href='/category/{{cat.id}}' class="block__link main-text">{{cat.title}}</a>
</p>
{%endfor%} {%endblock nav_links%}
{% block content %}
<h1 style="font-size: 28px; font-weight: 900; color: rgb(6, 0, 42);">Заказ №{{order.id}}</h1>
<h2 style="margin-bottom: 16px; font-size: 22px; color: rgb(202, 202, 202);">Информация о заказе</h2>
<ul>
{%for product in products%}
<li>{{product.title}}</li>
{%endfor%}
</ul>
<br>
Итоговый чек: {{order.total}} &#8381;<br>
Статус: {{order.status}}
{% endblock %}