{% extends 'base.html' %} {%block title%}{{product.title}}{%endblock%}
{%block nav_links%} {%for cat in cats%}
<p class="block__item">
    <a href='/category/{{cat.id}}' class="block__link main-text">{{cat.title}}</a>
</p>
{%endfor%} {%endblock nav_links%}
{% block content%}
<div style="display: flex; justify-content: center; align-items: center; min-height: 100px; flex-direction: column;">
    <h1 style="margin: 10px 0;">{{product.title}}</h1>
    <p>Описание: {{product.description}}</p>
    <div style="margin-bottom: 10px;">
        {%for cat in product_cats%}
            <a href='/category/{{cat.id}}'>Категория: {{cat.title}}</a>
        {%endfor%}
    </div>
    <p style="margin-bottom: 10px;">Цена: {{product.price}} &#8381;</p>
    <p>Номер модели: {{product.article}}</p>
    <img width="400px"  src="/media/{{product.image}}" alt="{{product.title}}">
    <a href="/sellers/{{product.seller.id}}">Продавец: {{product.seller}}</a>
    <div style="display:flex;">
    {% for index in product.get_total_rating %}
        <img src='/static/svg/star.svg' alt='' />
    {%endfor%}
</div>
    <form action="/basket/add/{{product.id}}" method="POST">
        {%csrf_token%}
        <button class="little-button-cart subtitle" style="margin-bottom: 40px;">
            В корзину
        </button>
    </form>
    <form method="post" class="form-call">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" class="little-button-cart subtitle" style="margin-bottom: 10px;">Оценить</button>
    </form>
</div>
<div>
{%for rating in ratings%}
    <div style="display: flex; flex-direction: column; margin-top: 65px;">
        <span style="margin-bottom: 6px;">Отзыв</span>
        <span>
        Пользователь: {{rating.creator}} <br>
        Оценка: {% for index in product.get_total_rating %}
        <img src='/static/svg/star.svg' alt='' />
        {%endfor%}
        </span>
        <h3>Тема: {{rating.title}}</h3>
        <h4 style="margin-bottom: 10px;">Сообщение: {{rating.text}}</h4>
    </div>
{%endfor%}
</div>
{% endblock %}
