@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;1,200&display=swap');
* {
    margin: 0;
    padding: 0;
}

html, body{
    scroll-behavior: smooth;
    letter-spacing: 1px;
}

.wrapper {
    max-width: 1250px;
    margin: auto;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

h1 {
    font-family: "IBM Plex Sans";
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
}

h2 {
    font-family: "IBM Plex Sans";
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}

.subtitle {
    font-family: "IBM Plex Sans";
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
}

.subtitle-regular {
    font-family: "IBM Plex Sans";
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
}

.buttons-text {
    font-family: "IBM Plex Sans";
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.main-text {
    font-family: "IBM Plex Sans";
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}

.mini-link {
    font-family: "IBM Plex Sans";
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
}

.mini-title {
    font-family: "IBM Plex Sans";
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
}

.mini-link-underline {
    font-family: "IBM Plex Sans";
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
}

.color-line {
    margin-top: 15px;
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(39,5,41,1) 72%, rgba(33,0,69,1) 100%);
}

.header {
    background-image: url("/media/img/1.png");
    min-height: 695px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

@media (max-width: 768px) {
    .header {
        background-image: url("/media/img/2.png");
    }
}

@media (max-width: 320px) {
    .header {
        background-image: url("/media/img/3.png");
    }
}

.header__logo {
    margin: 0 auto;
    align-items: center;
    justify-items: center;
    text-decoration: none;
}

.header__logo-text {
    font-size: 28px;
    color: #ffffff;
    font-weight: 900;
}

.header__section {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(39,5,41,1) 72%, rgba(33,0,69,1) 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header__navbar {
    width: 90%;
}

.textw-color {
    font-size: 12px;
    font-weight: 800;
    text-decoration: none;
    color:white;
    padding: 22px 79px;
    margin-top: 25px;
}

.header__main {
    width: 90%;
    justify-content: flex-end;
    min-height: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__offer {
    max-width: 570px;
    color: #ffffff;
}

.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.block__item {
    background-color: transparent;
    border: transparent;
}
.d-bg{
    /* padding: 15px 0; */
    background-color: #808080;
    text-align: center;
    font-size: 20px;
    color: rgb(13, 16, 19);
    font-weight: 600;
    min-height: 100px;
}

.d-bg a {
    text-decoration: none;
    color: #1a042b;
    font-weight: 600;
}

.d-bg p {
    margin-inline: auto;
}

.space {
    padding-top: 65px;
}

.rate{
    font-size: 35px;
    margin-bottom: 25px;
}

.block__link {
    font-weight: 800;
    color: white;
    text-decoration: none;
    transition: all 0.5s ease;

}

.block__link:hover {
    font-size: 14px;
}

.block__dots {
    color: #ffffff;
}

.menu {
    width: 445px;
}

@media (max-width: 1200px) {
    .menu {
        display: none;
    }
}

.logo {
    width: 170px;
}

.phone {
    width: 445px;
}

@media (max-width: 1200px) {
    .phone {
        display: none;
    }
}

.menu2 {
    width: 445px;
}

@media (min-width: 1200px) {
    .menu2 {
        display: none;
    }
}

@media (max-width: 768px) {
    .menu2 {
        display: none;
    }
}

.phone2 {
    width: 297px;
}

@media (min-width: 768px) {
    .phone2 {
        display: none;
    }
}

@media (max-width: 550px) {
    .phone2 {
        display: none;
    }
}

@media (min-width: 550px) {
    .burger-menu {
        display: none;
    }
}

@media (min-width: 1200px) {
    .burger-menu2 {
        display: none;
    }
}

@media (max-width: 768px) {
    .burger-menu2 {
        display: none;
    }
}

.phone-link {
    width: 117px;
    color: white;
    transition: all 0.5s ease;
    text-decoration: none;
}

.phone-link:hover {
    font-size: 13px;
}

.offer__item {
    margin-top: 15px;
    margin-bottom: 15px;
}

.offer__subtitle {
    /* max-width: 370px; */
}

.svg-hover {
    transition: all 0.5s ease;
}

.svg-hover:hover {
    fill: orange;
}

.position {
    margin-top: 0px;
    margin-left: 15px;
    text-align: center;
}

.big-button {
    width: 270px;
    height: 60px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(39,5,41,1) 72%, rgba(33,0,69,1) 100%);
    /* background-color: hsl(263, 75%, 73%); */
    color: #ffffff;
    border: transparent;
    border-radius: 13px;
}

.big-button:hover {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(68,9,71,1) 64%, rgba(64,0,134,1) 100%);
    /* background-color: hsl(276, 62%, 81%); */
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.main {
    margin-top: -18px;
}

.content {
    width: 90%;
}

@media (max-width: 910px) {
    .content {
        width: 95%;
    }
}

.news {
    background-color: #babab9;
    padding-top: 25px;
}

.news__title {
    color: #000000;
    text-align: center;
    margin-bottom: 15px;
}

.news__navbar {
    margin-top: 5px;
    padding-bottom: 40px;
}

.block2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media (max-width: 500px) {
    .block2 {
        display: none;
    }
}

.block2__link {
    color: #000000;
    text-decoration: none;
}

.block2__link:hover {
    padding-bottom: 5px;
    border-bottom: 1px solid #000000;
}

.items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 30px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.items__item {
    max-width: 270px;
    min-height: 300px;
    background-color: #f0dede;
    -webkit-box-shadow: 0px 0px 40px rgba(194, 125, 198, 0.4);
    box-shadow: 0px 0px 40px rgba(194, 125, 198, 0.4);
    margin-bottom: 30px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 20px;
    transition: all 0.5s ease;
}

@media (max-width: 910px) {
    .items__item {
        max-width: 226px;
        height: 390px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 490px) {
    .items__item {
        max-width: 46%;
        height: 287px;
        padding-left: 7px;
        padding-right: 7px;
    }
}

.items__item:hover {
    -webkit-box-shadow: 0px 0px 120px rgba(142, 31, 138, 0.7);
    box-shadow: 0px 0px 120px rgba(142, 31, 138, 0.7);
    -webkit-transition: 0.9s;
    /* transition: 0.9s; */
}

.items__content {
    max-width: 210px;
    margin: auto;
}

.items__photo {
    max-width: 224px;
    margin-bottom: 5px;
}

@media (max-width: 910px) {
    .items__photo {
        max-width: 205px;
    }
}

@media (max-width: 490px) {
    .items__photo {
        max-width: 124px;
    }
}

.items__title {
    margin-bottom: 5px;
}

.items__stars {
    min-height: 21px;
    margin-bottom: 5px;
    flex-direction: row;
}

.phone-column {
    flex-direction: column;

}

.phone__number {
    font-size: 13px;
}

.items__article {
    margin-bottom: 5px;
}

.items__cost {
    margin-bottom: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.items__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-direction: column;
}

.old {
    -webkit-text-decoration-line: line-through;
    text-decoration-line: line-through;
    color: hsl(311, 25%, 17%);
}

.basket-main {
    display: block;
    min-height: 150px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    max-width: 200px;
}

.form-call input {
    width: 150px;
	font-size: 13px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
    margin-bottom: 20px;
}

.form-call p {
    padding-top: 10px;
}

.form-call textarea {
    width: 260px;
    height: 50px;
	font-size: 13px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
    margin-bottom: 20px;
}

.little-button-cart {
    margin: 10px 0;
    width: 132px;
    height: 27px;
    border: none;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(39,5,41,1) 72%, rgba(33,0,69,1) 100%);
    color: #ffffff;
    border-radius: 25px;
}

.little-button-cart:hover {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(68,9,71,1) 64%, rgba(64,0,134,1) 100%);
}

.little-button-more {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 27px;
    /* border: 2px solid hsl(311, 25%, 17%);; */
    background-color: transparent;
    color: hsl(311, 25%, 17%);
    transition: all 0.3s ease;
}

.little-button-more:hover {
    color: rgb(184, 23, 23);
}

.categories {
    background-color: #100b12;
}

.categories__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 600px;
    width: 85%;
    padding-bottom: 30px;
    /* border-radius: 20px; */

}

.categories__category {
    width: 570px;
    max-height: 400px;
    fill-opacity: #5f382e;
    margin-top: 30px;
    background-position: center;
    position: relative;
    /* border: 4px solid #6c1f32 ; */
    /* border-radius: 20px; */
}

.categories__category img {
    border-radius: 20px;
}

.acva {
    position: absolute;
    background-color: rgba(82, 29, 91, 0.4);
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffff;
    border-radius: 30px;
    /* border: 4px solid #6c1f32 ; */
}

.acva:hover {
    background-color: rgba(48, 4, 56, 0.4);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

reg__field {
    max-width: 200px;
}

section {
    width: 100%;
    display: inline-block;
    background: #ccc;
    height: 60vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
  }

  .footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
  }

  .footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
  }
  /* Footer links */

  .footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }

  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }

  .footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }

  .footer-distributed .footer-links .link-1:before {
    content: none;
  }

  .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }

  .footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }

  .footer-distributed .footer-right a:hover {
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
}

  .footer-distributed p.footer-links a:hover{text-decoration:underline;}

  @media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
      text-align: center;
    }
    .footer-distributed .footer-right {
      float: none;
      margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }
  }

