{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Bibika. {% block title %}{% endblock %}</title>
        <link href="{% static "css/style.css" %}" rel="stylesheet">
        <script src="https://kit.fontawesome.com/fec3400b64.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="header">
            <div class="header__section">
                <article class="header__navbar navbar wrapper">
                    <h2 class="visually-hidden">О нас</h2>

                    <!-- 1200 - БЕСКОНЕЧНОСТЬ -->

                    <div class="navbar__block block menu">
                        {%block nav_links%}
                        {%endblock%}
                        <a href='/#categories'>
                            <?xml version="1.0" encoding="iso-8859-1"?>
                            <svg class="svg-hover" widht="25px" height="27px" fill="white" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M484.964,265.749c-12.465-11.8-28.938-18.052-46.298-17.532c-17.172,0.488-33.327,7.454-45.489,19.616l-22.083,22.084
                                        c-13.001-71.913-47.195-137.09-99.645-189.54C219.871,48.798,155.074,14.481,84.066,1.137c-19.2-3.61-38.834,1.471-53.862,13.936
                                        C15.211,27.511,6.612,45.817,6.612,65.299c0,31.362,22.215,58.312,52.823,64.082c82.466,15.544,149.317,75.261,175.291,153.31
                                        l-14.887-14.887c-25.301-25.299-66.563-26.13-91.98-1.844c-13.027,12.444-20.201,29.208-20.201,47.205
                                        c0,17.431,6.788,33.817,19.113,46.143L260.38,492.918C273.102,505.64,289.812,512,306.523,512c16.71,0,33.42-6.361,46.144-19.081
                                        L486.276,359.31c12.565-12.566,19.35-29.274,19.107-47.045C505.137,294.501,497.886,277.981,484.964,265.749z M471.849,344.883
                                        L338.24,478.492c-17.489,17.489-45.946,17.489-63.435,0L141.196,344.883c-8.473-8.472-13.139-19.737-13.139-31.718
                                        c0-12.372,4.934-23.896,13.892-32.455c8.453-8.076,19.483-12.085,30.602-12.085c11.857,0,23.816,4.559,32.859,13.605
                                        l40.758,40.759c3.135,3.133,7.932,3.887,11.875,1.859c3.941-2.025,6.125-6.364,5.402-10.735
                                        C246.397,210.988,165.929,128.694,63.21,109.334c-20.975-3.954-36.2-22.473-36.2-44.034c0-13.393,5.911-25.976,16.217-34.527
                                        c10.34-8.577,23.853-12.073,37.07-9.586c66.953,12.582,128.065,44.953,176.725,93.616
                                        c54.079,54.078,87.586,122.489,96.899,197.839c0.478,3.868,3.12,7.127,6.806,8.394c3.687,1.269,7.772,0.324,10.529-2.433
                                        l36.345-36.345c17.461-17.463,45.875-18.222,63.338-1.694c8.887,8.414,13.875,19.771,14.042,31.981
                                        C485.151,324.761,480.486,336.246,471.849,344.883z"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M302.691,457.773l-74.153-74.154c-3.984-3.98-10.441-3.982-14.426,0c-3.983,3.984-3.983,10.443,0,14.426l74.153,74.154
                                        c1.992,1.991,4.601,2.988,7.212,2.988c2.61,0,5.221-0.995,7.213-2.988C306.674,468.215,306.674,461.756,302.691,457.773z"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M203.598,358.503l-5.665-5.665c-3.985-3.982-10.442-3.982-14.426,0c-3.983,3.984-3.983,10.443,0,14.426l5.665,5.665
                                        c1.992,1.991,4.601,2.988,7.212,2.988s5.22-0.997,7.213-2.988C207.581,368.945,207.581,362.486,203.598,358.503z"/>
                                </g>
                            </g>
                            </svg>
                        </a>
                    </div>
                    <div class="navbar__block block logo">
                        <a href="/" class="header__logo">
                            <span class="header__logo-text">B I B I K A</span>
                        </a>
                    </div>
                    <div class="navbar__block block phone">
                        <div class="phone-column">
                            <p class="block__item" style="text-align: center;">
                                <a
                                    href="tel:+7(911)123-45-67"
                                    class="block__link subtitle phone__number"
                                    >+7 (911) 123-45-67</a
                                >
                            </p>
                            <button class="block__item phone-link mini-link">
                                <a href="/leave-callback/" style="text-decoration: none; color: white; font-weight: 700;">
                                    Помощь
                                </a>
                            </button>
                        </div>
                        {% if user.is_authenticated %}
                        <p class="block__item">
                            <a href="/profile/" class="block__link main-text">Привет, {{user.username}}</a>
                        </p>
                        <p class="block__item">
                            <a href="/logout/" class="block__link main-text">Выйти</a>
                        </p>
                        {% else %}
                        <p class="block__item">
                            <a href="/register/" class="block__link main-text">Регистрация</a>
                        </p>
                        <p class="block__item">
                            <a href="/login/" class="block__link main-text">Логин</a>
                        </p>
                        {% endif %}
                        <a href="/basket/" class="block__item">
                            <?xml version="1.0" ?><svg class="svg-hover" width="27" height="27" fill="white" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:none;}</style></defs><title/><g data-name="Layer 2" id="Layer_2"><path d="M23.52,29h-15a5.48,5.48,0,0,1-5.31-6.83L6.25,9.76a1,1,0,0,1,1-.76H24a1,1,0,0,1,1,.7l3.78,12.16a5.49,5.49,0,0,1-.83,4.91A5.41,5.41,0,0,1,23.52,29ZM8,11,5.11,22.65A3.5,3.5,0,0,0,8.48,27h15a3.44,3.44,0,0,0,2.79-1.42,3.5,3.5,0,0,0,.53-3.13L23.28,11Z"/><path d="M20,17a1,1,0,0,1-1-1V8a3,3,0,0,0-6,0v8a1,1,0,0,1-2,0V8A5,5,0,0,1,21,8v8A1,1,0,0,1,20,17Z"/></g><g id="frame"><rect class="cls-1" height="32" width="32"/></g></svg>
                        </a>
                    </div>

                </article>
            </div>
            <div class="color-line"></div>
            <div class="header__main wrapper">
                <div class="header__offer offer position">
                    <h1 class="offer__item">
                        Автомобили специально для вас
                    </h1>
                    <p class="offer__item offer__subtitle subtitle-regular">
                        Изучайте этот мир в комфорте
                    </p>
                    <button class="big-button">
                        <a  href='/products/' class="textw-color offer__item buttons-text">Перейти к сегменту</a>
                    </button>
                </div>
            </div>
        </header>

    <main class="main">
       <div class="d-bg">
           {% block content %}
           {% endblock %}
       </div>

    </main>
   		<footer class="footer-distributed">

			<div class="footer-right">

				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>

			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a class="link-1" href="#">Home</a>

					<a href="/#categories">Categories</a>

					<a href="/products">Products</a>

					<a href="/basket">Basket</a>

					<a href="/leave-callback/">Contact</a>
				</p>

				<p>Bibika &copy; 2022</p>
			</div>

		</footer>
    </body>
</html>
